<%@ Control Language="C#" %>
<%@ Register TagPrefix="Hi" Namespace="HiTemplate" Assembly="HiTemplate" %>
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="/default.aspx" title="名将小白鞋">
                                    
                                    
                                    <img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160508/6359830578837792967584091.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/Vshop/OneyuanList.aspx" title="一元夺宝">
                                    
                                    
                                    <img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160506/6359814509339355463127451.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                    
                    <span class="cur" ></span>
                    
                    <span  ></span>
                    
                    
                </section>
            </section>
            
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul class="clearfix">
                    
                    
                    
                    <li class="board3">
                        <span>
                            <a href="#">
                                
                                <img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160506/6359814563392480462429915.jpg">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3">
                        <span>
                            <a href="#">
                                
                                <img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160506/6359814563286230469771068.jpg">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3">
                        <span>
                            <a href="#">
                                
                                <img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160506/6359814563153417963500251.jpg">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul class="clearfix">
                    
                    
                    
                    <li class="board3">
                        <span>
                            <a href="#">
                                
                                <img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160506/6359814532269042967112042.jpg">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3">
                        <span>
                            <a href="#">
                                
                                <img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160506/6359814532065917963226188.jpg">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3">
                        <span>
                            <a href="#">
                                
                                <img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160506/6359814489404980466293936.jpg">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul class="clearfix">
                    
                    
                    
                    <li class="board3">
                        <span>
                            <a href="#">
                                
                                <img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160506/6359814532608105466915706.jpg">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3">
                        <span>
                            <a href="#">
                                
                                <img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160506/6359814489515917962966875.jpg">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3">
                        <span>
                            <a href="#">
                                
                                <img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160506/6359814532748730466443952.jpg">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul class="clearfix">
                    
                    
                    
                    <li class="board3">
                        <span>
                            <a href="#">
                                
                                <img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160506/6359814533172167966904930.jpg">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3">
                        <span>
                            <a href="#">
                                
                                <img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160506/6359814532990917968318782.jpg">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3">
                        <span>
                            <a href="#">
                                
                                <img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160506/6359814531267480463619564.jpg">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    <Hi:GoodsListModule runat="server"  Type="goodGroup" Layout="1" ShowName="True" ShowIco="True" ShowPrice="True" DataUrl="/api/Hi_Ajax_GoodsListGroup.ashx" ID="group_3aec8be2bb304a24b83efa3995b61d1c" TemplateFile="/Admin/shop/Modules/GoodGroup1.cshtml"  GoodListSize="6" FirstPriority=""  SecondPriority=""  ShowMaketPrice="True"  />