<%@ Control Language="C#" %>
<%@ Register TagPrefix="Hi" Namespace="HiTemplate" Assembly="HiTemplate" %>
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="/default.aspx" title="白金早礼">
                                    
                                    
                                    <img src="/Templates/vshop/t7/images/4@2x.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/default.aspx" title="白金早礼">
                                    
                                    
                                    <img src="/Templates/vshop/t7/images/4@2x.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/Vshop/MemberCenter.aspx" title="会员签到">
                                    
                                    
                                    <img src="/Storage/master/brand/e2a59de4048142d3ad86c8901dbdb550.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                    
                    <span class="cur" ></span>
                    
                    <span  ></span>
                    
                    <span  ></span>
                    
                    
                </section>
            </section>
            
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix">
                    
                    
                    <li style="margin-bottom:0px">
                        <a href="/default.aspx" title="白金早礼">
                            
                            
                            <img src="/Templates/vshop/t7/images/9@2x.png" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    
                </ul>
            </section>
            
        </div>
    
        <div class="members_con"  >
            <section class="members_nav1">
                <ul>
                    
                    
                    <li class="lisw3">
                        <span><a href="/default.aspx"><img src="/Templates/vshop/t7/images/16@2x.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/default.aspx"></a>
                    </li>
                    
                    <li class="lisw3">
                        <span><a href="/default.aspx"><img src="/Templates/vshop/t7/images/14@2x.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/default.aspx"></a>
                    </li>
                    
                    <li class="lisw3">
                        <span><a href="/default.aspx"><img src="/Templates/vshop/t7/images/15@2x.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/default.aspx"></a>
                    </li>
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix">
                    
                    
                    <li style="margin-bottom:10px">
                        <a href="/default.aspx" title="店铺主页">
                            
                            
                            <img src="/Templates/vshop/t7/images/10@2x.png" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    
                </ul>
            </section>
            
        </div>
    
        <div class="members_con"  >
            <section class="members_nav1">
                <ul>
                    
                    
                    <li class="lisw3">
                        <span><a href="/default.aspx"><img src="/Templates/vshop/t7/images/11@2x.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/default.aspx"></a>
                    </li>
                    
                    <li class="lisw3">
                        <span><a href="/default.aspx"><img src="/Templates/vshop/t7/images/12@2x.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/default.aspx"></a>
                    </li>
                    
                    <li class="lisw3">
                        <span><a href="/default.aspx"><img src="/Templates/vshop/t7/images/13@2x.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/default.aspx"></a>
                    </li>
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            
            <section class="members_goodspic">
                <ul>
                    
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Admin/shop/Public/images/diy/goodsView1.jpg" width="100%"></a></span>
                            <span class="replace"><i></i> &yen;88.00<span class="original_price"><s>&yen;99.00</s></span>
                        </div>
                    </li>
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Admin/shop/Public/images/diy/goodsView2.jpg" width="100%"></a>
                            <span class="replace"><i></i> &yen;88.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Admin/shop/Public/images/diy/goodsView3.jpg" width="100%"></a>
                            <span class="replace"><i></i> &yen;88.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Admin/shop/Public/images/diy/goodsView4.jpg" width="100%"></a>
                            <span class="replace"><i></i> &yen;88.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    
                </ul>
            </section>
            
        </div>
    <Hi:GoodsListModule runat="server"  Type="goodGroup" Layout="1" ShowName="True" ShowIco="True" ShowPrice="True" DataUrl="/api/Hi_Ajax_GoodsListGroup.ashx" ID="group_979023919fcc4e3e866384ac610a0707" TemplateFile="/Admin/shop/Modules/GoodGroup1.cshtml"  GoodListSize="6" FirstPriority=""  SecondPriority=""    />
        <div class="members_con"  >
            <section class="members_nav1">
                <ul>
                    
                    
                    <li class="lisw4">
                        <span><a href="/Default.aspx"><img src="/Admin/shop/Public/images/diy/waitupload.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/Default.aspx">店铺主页</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="/categories.aspx"><img src="/Admin/shop/Public/images/diy/waitupload.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/categories.aspx">所有分类</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="/Vshop/MemberCenter.aspx"><img src="/Admin/shop/Public/images/diy/waitupload.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/Vshop/MemberCenter.aspx">会员主页</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="/Vshop/DistributorRegCheck.aspx"><img src="/Admin/shop/Public/images/diy/waitupload.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/Vshop/DistributorRegCheck.aspx">美丽代言人</a>
                    </li>
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con" >
            <section class="members_nav2">
                <ul>
                    
                    
                    
                    <li><a href="/default.aspx" style ="padding-left:0px;" >店铺主页</a><b></b></li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
       
        <div class="members_con">
            <div class="fulltext" style="padding:10px 0"><p>分销商分佣规则</p></div>
        </div>
    