<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <dataConfiguration defaultDatabase="HidistroSqlServer" />
  <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA1WgG/fMWoUSIRLuMzO6IKwQAAAACAAAAAAADZgAAwAAAABAAAADhKNxv8GmJiCdoAtYnyIzQAAAAAASAAACgAAAAEAAAAOQPAguURHC+Nxlg8RP57ksIAgAAnDmhtxu2YvRkS4rKprTvWXk5MtAgW+T1duGtmIV3cDEZoOVrl3HSh5oO79OaDSaDFWeA2qN/HTUcFK5eikJYFNFZZ2SHcnLXvppYzNVfs/mS3j7AD4kRPPIzmlX7n/c4KD7Y7yYA2tlURrqik/eqi7kCRJMJ7Slpq1yfXdmO2WozPv87FjbwtjpwwyD+mckoNuEYAqyXaVdPJdf6xX+OnW9iIhkxOJ8KkuQB9x1B1j7a8ysp+kucgnptK/dGkK72mhOiVpdcj/dDYLwvD3tmdAVIm3INz/3Vv9EMCWu+oqx3IjebpA351bJWT9y03N2Hh6wRrT5vAiTSygELp+J3O5K/1nmgFk/3hj2YK151fsX6DEIPv8XeW1BM+pJAItFofAFrEGV1FCD+19LoQzItgEGJymvqN8/MTqUo6VUMb2GhfV3GDKKrFPJaIn5eXa8p9EinfH7H63eEYri3+hpVUcJ8rWyifAPQvN2MlAecKastV4SuJnFkHFCukmczgMuoy8C3xvrLjf4DtARml3y75Ur2UaITzUR2b1gd0ROk5q9toiNO1ht0ru5U+jVGVWOvgOvaL/QFoOzUztEN2chdT11zldhc7bk5WOsuEVqwnRER59orXRWbQ9Tah7QRZDM9Ja06GrVhX6JainrWg+n6ruecNyzRYvS6I+usSPe9+3T2/SYZ/vKaFhQAAADpMun+OzPl5LjIrjg2XKCXTJGazg==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="Kindeditor:BasePath" value="~/kindeditor/" />
    <add key="Kindeditor:FileCategoryJson" value="~/Admin/FileCategoryJson.aspx" />
    <add key="Kindeditor:FileManagerJson" value="~/Admin/FileManagerJson.aspx" />
    <add key="Kindeditor:UploadFileJson" value="~/Admin/UploadFileJson.aspx" />
    <add key="Key" value="aPNHsZpgJxZl/feasO4zmA==" />
    <add key="IV" value="FeufPK4fVv8zBDbBhDWglw==" />
  </appSettings>
  <system.web>

    <!--<sessionState mode="Off" />-->
    <machineKey validationKey="E0F5BE13358E9ADD83D435A3ADB1EFD723521E1D"
      decryptionKey="A616AC93EA38B47EB111039D73B6AD04934E83D2DF815A1A"
      validation="SHA1" decryption="3DES" />
    <pages buffer="true" enableViewStateMac="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableSessionState="true" validateRequest="false" autoEventWireup="false" pageBaseType="Hidistro.UI.Common.Controls.HiPage, Hidistro.UI.Common.Controls" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <trace enabled="false" pageOutput="false" />
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="ResourceNotFound.aspx" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" path="RegionHandler.aspx" type="Hidistro.UI.Common.Controls.RegionHandler, Hidistro.UI.Common.Controls" />
      <add verb="*" path="UserStatisticeChart.aspx" type="Hidistro.UI.Common.Controls.UserStatisticeChart, Hidistro.UI.Common.Controls" />
      <add verb="*" type="Hidistro.UI.Common.Controls.UploadHandler,Hidistro.UI.Common.Controls" path="uploadHandler.aspx" />
      <add verb="*" path="PluginHandler.aspx" type="Hishop.Plugins.ConfigHandler, Hishop.Plugins" />
      <add verb="*" path="ExpressData.aspx" type="Hidistro.UI.SaleSystem.CodeBehind.ExpressData, Hidistro.UI.SaleSystem.CodeBehind" />
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
    </httpHandlers>

    <authentication mode="Forms">
      <forms name=".Hidistro" protection="All" timeout="240" loginUrl="loginEntry.aspx" cookieless="AutoDetect" slidingExpiration="true" />
    </authentication>
    <webServices>
      <protocols>
        <remove name="HttpPost" />
        <remove name="HttpGet" />
        <remove name="HttpPostLocalhost" />
        <remove name="Documentation" />
        <remove name="Unknown" />
      </protocols>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </webServices>
    <httpRuntime maxRequestLength="40960" executionTimeout="360" requestValidationMode="2.0" />

  </system.web>
  <microsoft.web.services3>
    <security>
      <securityTokenManager>
        <add type="Hidistro.UI.Web.HiUsernameTokenManager,Hidistro.UI.Web" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" localName="UsernameToken" />
      </securityTokenManager>
      <timeToleranceInSeconds value="3600" />
    </security>
    <policy fileName="wse3policyCache.config" />
  </microsoft.web.services3>
  <system.webServer>
    <handlers accessPolicy="Read, Execute, Script">
     
      <add name="htm" path="*.htm" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
    </handlers>
  </system.webServer>
</configuration>