<%@ Control Language="C#" %>
<%@ Register TagPrefix="Hi" Namespace="HiTemplate" Assembly="HiTemplate" %>
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="/Vshop/OneyuanList.aspx" title="一元夺宝">
                                    
                                    
                                    <img src="/Templates/vshop/t4/images/3@2x.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/default.aspx" title="白金早礼">
                                    
                                    
                                    <img src="/Templates/vshop/t4/images/3@2x.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/default.aspx" title="白金早礼">
                                    
                                    
                                    <img src="/Templates/vshop/t4/images/3@2x.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                    
                    <span class="cur" ></span>
                    
                    <span  ></span>
                    
                    <span  ></span>
                    
                    
                </section>
            </section>
            
        </div>
    
        <div class="members_con"  >
            <section class="members_nav1">
                <ul>
                    
                    
                    <li class="lisw4">
                        <span><a href="/BrandDetail.aspx?BrandId=5"><img src="/Storage/master/brand/6661f1ad944a4e8687358478c1678c83.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/BrandDetail.aspx?BrandId=5">CK</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="/ProductList.aspx?categoryId=1"><img src="/Storage/master/brand/5aa4d3ed061e482898cf1ee947fa2a3b.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/ProductList.aspx?categoryId=1">2016夏款女网鞋</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="/ProductList.aspx?categoryId=16"><img src="/Admin/shop/Public/images/diy/waitupload.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/ProductList.aspx?categoryId=16">茶叶</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="#"><img src="/Admin/shop/Public/images/diy/waitupload.png" width="70"></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con"  >
            <section class="members_nav1">
                <ul>
                    
                    
                    <li class="lisw4">
                        <span><a href="/default.aspx"><img src="/Templates/vshop/t4/images/4@2x.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/default.aspx">首页</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="/ProductDetails.aspx?productId=59"><img src="/Storage/master/product/thumbs310/310_56c5802dnf5e7a40d.jpg" width="70"></a></span>
                        <a class="members_nav1_name" href="/ProductDetails.aspx?productId=59">德国进口爱他美奶粉pre1段2段3段1+2+段 Aptamil婴幼儿奶粉1+段(</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="/BargainList.aspx"><img src="/Templates/vshop/t4/images/6@2x.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/BargainList.aspx">好友砍价</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="/Vshop/ShoppingCart.aspx"><img src="/Templates/vshop/t4/images/7@2x.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/Vshop/ShoppingCart.aspx">购物车</a>
                    </li>
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul class="clearfix">
                    
                    
                    
                    <li class="board3 big_board ">
                        <span>
                            <a href="#">
                                
                                <img src="/Templates/vshop/t4/images/8@2x.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3  small_board">
                        <span>
                            <a href="#">
                                
                                <img src="/Templates/vshop/t4/images/9@2x.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3  small_board">
                        <span>
                            <a href="#">
                                
                                <img src="/Templates/vshop/t4/images/10@2x.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix">
                    
                    
                    <li style="margin-bottom:0px">
                        <a href="/default.aspx" title="白金早礼">
                            
                            
                            <img src="/Templates/vshop/t4/images/14@2x.png" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    
                </ul>
            </section>
            
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul class="clearfix">
                    
                    
                    
                    <li class="board3 big_board ">
                        <span>
                            <a href="#">
                                
                                <img src="/Templates/vshop/t4/images/12@2x.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3  small_board">
                        <span>
                            <a href="#">
                                
                                <img src="/Templates/vshop/t4/images/13@2x.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3  small_board">
                        <span>
                            <a href="#">
                                
                                <img src="/Templates/vshop/t4/images/13@2x.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            
            <section class="members_goodspic">
                <ul>
                    
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Admin/shop/Public/images/diy/goodsView1.jpg" width="100%"></a></span>
                            <span class="replace"><i></i> &yen;88.00<span class="original_price"><s>&yen;99.00</s></span>
                        </div>
                    </li>
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Admin/shop/Public/images/diy/goodsView2.jpg" width="100%"></a>
                            <span class="replace"><i></i> &yen;88.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Admin/shop/Public/images/diy/goodsView3.jpg" width="100%"></a>
                            <span class="replace"><i></i> &yen;88.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Admin/shop/Public/images/diy/goodsView4.jpg" width="100%"></a>
                            <span class="replace"><i></i> &yen;88.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    
                </ul>
            </section>
            
        </div>
    <Hi:GoodsListModule runat="server"  Type="goodGroup" Layout="1" ShowName="True" ShowIco="True" ShowPrice="True" DataUrl="/api/Hi_Ajax_GoodsListGroup.ashx" ID="group_514618ed66bc49eaa0728e173d622448" TemplateFile="/Admin/shop/Modules/GoodGroup1.cshtml"  GoodListSize="6" FirstPriority=""  SecondPriority=""    />
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                    <li><a href="" title=""><img src="/Admin/Shop/Public/images/diy/imgad.jpg" width="100%" /></a></li>
                    
                </ul>
                <section class="members_flash_time">
                    
                </section>
            </section>
            
        </div>
    