<%@ Control Language="C#" %>
<%@ Register TagPrefix="Hi" Namespace="HiTemplate" Assembly="HiTemplate" %>
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="/ProductList.aspx?categoryId=16" title="连衣裙">
                                    
                                    
                                    <img src="/Storage/template/20160429/6359754203059718634687329.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/ProductList.aspx?categoryId=16" title="连衣裙">
                                    
                                    
                                    <img src="/Storage/template/20160429/6359754315353384857631824.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                    
                    <span class="cur" ></span>
                    
                    <span  ></span>
                    
                    
                </section>
            </section>
            
        </div>
    
        <div class="Header_style12_panel" style="height:44px;">
            <div class="membersbox" style="height:44px;">
                
                <div class="homeCnav" style="height:44px;line-height:44px;">
                    <div class="homeCnavbox swiper-container" style="height:44px;line-height:44px;">
                        <ul class="swiper-wrapper topnav clearfix" style="height:44px;line-height:44px;">
                            
                            <li class="swiper-slide liwid4" style="height:44px;line-height:44px;">
                                <a href="/Default.aspx" class="colblue" style="background-color:#07a0e7;height:44px;line-height:44px;margin-right:0px">
                                    <h3 style="color:#fff;height:44px;line-height:44px;">首页</h3>
                                </a>
                            </li>
                            
                            <li class="swiper-slide liwid4" style="height:44px;line-height:44px;">
                                <a href="/ProductList.aspx" class="colblue" style="background-color:#72c201;height:44px;line-height:44px;margin-right:0px">
                                    <h3 style="color:#fff;height:44px;line-height:44px;">新品</h3>
                                </a>
                            </li>
                            
                            <li class="swiper-slide liwid4" style="height:44px;line-height:44px;">
                                <a href="/Default.aspx" class="colblue" style="background-color:#ffa800;height:44px;line-height:44px;margin-right:0px">
                                    <h3 style="color:#fff;height:44px;line-height:44px;">热卖</h3>
                                </a>
                            </li>
                            
                            <li class="swiper-slide liwid4" style="height:44px;line-height:44px;">
                                <a href="/Default.aspx" class="colblue" style="background-color:#d50303;height:44px;line-height:44px;margin-right:0px">
                                    <h3 style="color:#fff;height:44px;line-height:44px;">推荐</h3>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    
        <div class="members_con"  >
            <section class="members_nav1">
                <ul>
                    
                    
                    <li class="lisw4">
                        <span><a href="/categories.aspx"><img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160504/6359798052776855466235655.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/categories.aspx">所有分类</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="/Vshop/OneyuanList.aspx"><img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160504/6359798052798730462535361.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/Vshop/OneyuanList.aspx">一元夺宝</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="/BrandDetail.aspx?BrandId=1"><img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160504/6359798052804980468022035.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/BrandDetail.aspx?BrandId=1">品牌</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="/ExchangeList.aspx?id=10"><img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160504/6359798052817480465293557.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/ExchangeList.aspx?id=10">积分兑换</a>
                    </li>
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul class="clearfix">
                    
                    
                    
                    <li class="board3 big_board ">
                        <span>
                            <a href="/ProductDetails.aspx?productId=2094">
                                
                                <img src="/Storage/template/20160503/6359788437134407023161022.jpg">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3  small_board">
                        <span>
                            <a href="/ProductList.aspx?categoryId=15">
                                
                                <img src="/Storage/template/20160411/6359596279492119817752899.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3  small_board">
                        <span>
                            <a href="/ProductDetails.aspx?productId=2100">
                                
                                <img src="/Storage/template/20160503/6359788474103483512592473.jpg">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul class="clearfix">
                    
                    
                    
                    <li class="board3">
                        <span>
                            <a href="/ProductDetails.aspx?productId=2107">
                                
                                <img src="/Storage/template/20160503/6359788538247052329314169.jpg">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3">
                        <span>
                            <a href="/ProductDetails.aspx?productId=2108">
                                
                                <img src="/Storage/template/20160503/6359788538239451882571598.jpg">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3">
                        <span>
                            <a href="/ProductDetails.aspx?productId=2109">
                                
                                <img src="/Storage/template/20160503/6359788550419648557411979.jpg">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con"  >
            <section class="members_nav1">
                <ul>
                    
                    
                    <li class="lisw1">
                        <span><a href="/ProductList.aspx?categoryId=17"><img src="/Storage/template/20160503/6359788212658467733424682.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/ProductList.aspx?categoryId=17"></a>
                    </li>
                    
                    
                </ul>
            </section>
        </div>
    <Hi:GoodsMobule runat="server" Layout="1" ShowName="1" IDs="2104,2102" ShowIco="True" ShowPrice="True" DataUrl="/api/Hi_Ajax_GoodsList.ashx" ID="goods_9f6e04b3ac8e4dfa9b0d84645cafbeed" TemplateFile="/admin/shop/Modules/GoodGroup1.cshtml"    />
        <div class="members_con"  >
            <section class="members_nav1">
                <ul>
                    
                    
                    <li class="lisw1">
                        <span><a href="/ProductList.aspx?categoryId=16"><img src="/Storage/template/20160503/6359788341911460586946822.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/ProductList.aspx?categoryId=16"></a>
                    </li>
                    
                    
                </ul>
            </section>
        </div>
    <Hi:GoodsMobule runat="server" Layout="1" ShowName="1" IDs="2106,2105" ShowIco="True" ShowPrice="True" DataUrl="/api/Hi_Ajax_GoodsList.ashx" ID="goods_e0e7551d384940e795c442f9538d908a" TemplateFile="/admin/shop/Modules/GoodGroup1.cshtml"    />
        <div class="members_con"  >
            <section class="members_nav1">
                <ul>
                    
                    
                    <li class="lisw4">
                        <span><a href="#"><img src="/Admin/shop/Public/images/diy/waitupload.png" width="70"></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="#"><img src="/Admin/shop/Public/images/diy/waitupload.png" width="70"></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="#"><img src="/Admin/shop/Public/images/diy/waitupload.png" width="70"></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="#"><img src="/Admin/shop/Public/images/diy/waitupload.png" width="70"></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                </ul>
            </section>
        </div>
    <Hi:GoodsListModule runat="server"  Type="goodGroup" Layout="1" ShowName="True" ShowIco="True" ShowPrice="True" DataUrl="/api/Hi_Ajax_GoodsListGroup.ashx" ID="group_5ae3e2bcef4c4acfb9f2c586132fbfe9" TemplateFile="/Admin/shop/Modules/GoodGroup1.cshtml"  GoodListSize="6" FirstPriority=""  SecondPriority=""  ShowMaketPrice="True"  />