<%@ Control Language="C#" %>
<%@ Register TagPrefix="Hi" Namespace="HiTemplate" Assembly="HiTemplate" %>
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="/Default.aspx" title="店铺主页">
                                    
                                    
                                    <img src="/Templates/vshop/t14/images/lunbotu@2x.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/Default.aspx" title="店铺主页">
                                    
                                    
                                    <img src="/Templates/vshop/t14/images/lunbotu@2x.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/Default.aspx" title="店铺主页">
                                    
                                    
                                    <img src="/Templates/vshop/t14/images/lunbotu@2x.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                    
                    <span class="cur" ></span>
                    
                    <span  ></span>
                    
                    <span  ></span>
                    
                    
                </section>
            </section>
            
        </div>
    
        <div class="members_con">
            <section class="members_search">
                  <form action="/ProductList.aspx" method="get">
                <input type="text" name="keyWord" id="keyWord" value="" placeholder="商品搜索：请输入商品关键字">
                <button type="submit"></button>
           </form>
            </section>
        </div>
    
        <div class="members_con" >
            <section class="members_nav2">
                <ul>
                    
                    
                    
                    <li><a href="/BargainList.aspx" style ="padding-left:0px;" >好友砍价</a><b></b></li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con"  >
            <section class="members_nav1">
                <ul>
                    
                    
                    <li class="lisw4">
                        <span><a href="/categories.aspx"><img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20150826/6357619845210935991843451.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/categories.aspx">所有分类</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="/ExchangeList.aspx?id=4"><img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20150826/6357619845229816818085255.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/ExchangeList.aspx?id=4">积分兑换</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="/Vshop/OneyuanList.aspx"><img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20150826/6357619857235136752130593.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/Vshop/OneyuanList.aspx">一元夺宝</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="act.huodong.aspx"><img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20150826/6357619857210455605673636.png" width="70"></a></span>
                        <a class="members_nav1_name" href="act.huodong.aspx"></a>
                    </li>
                    
                    
                </ul>
            </section>
        </div>
    
       
        <div class="members_con">
            <div class="fulltext" style="padding:10px 0"></div>
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="/BargainList.aspx" title="好友砍价">
                                    
                                    
                                    <img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160405/6359547410375781259607864.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                </section>
            </section>
            
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul class="clearfix">
                    
                    
                    
                    <li class="board3 big_board ">
                        <span>
                            <a href="/ProductDetails.aspx?productId=67">
                                
                                <img src="/Storage/master/product/images/56498f64n00cba2b9.jpg">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3  small_board">
                        <span>
                            <a href="/ProductDetails.aspx?productId=66">
                                
                                <img src="/Storage/master/product/images/000269165ctb2kdaxx___538022093.jpg">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3  small_board">
                        <span>
                            <a href="/ProductDetails.aspx?productId=63">
                                
                                <img src="/Storage/master/product/images/4afdd8ffe9594de59550606798545424.jpg">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
       
        <div class="members_con">
            <div class="fulltext" style="padding:10px 0"></div>
        </div>
    <Hi:GoodsListModule runat="server"  Type="goodGroup" Layout="1" ShowName="True" ShowIco="True" ShowPrice="True" DataUrl="/api/Hi_Ajax_GoodsListGroup.ashx" ID="group_db0df32d25e14d569b0b8d8a0d0acbca" TemplateFile="/Admin/shop/Modules/GoodGroup1.cshtml"  GoodListSize="12" FirstPriority=""  SecondPriority=""    />
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                    <li><a href="" title=""><img src="/Admin/Shop/Public/images/diy/imgad.jpg" width="100%" /></a></li>
                    
                </ul>
                <section class="members_flash_time">
                    
                </section>
            </section>
            
        </div>
    
        <div class="members_con" >
            <section class="members_nav2">
                <ul>
                    
                    
                    
                    <li><a href="/default.aspx" style ="padding-left:0px;" >店铺主页</a><b></b></li>
                    
                    
                    
                    <li><a href="#" style ="padding-left:0px;" >请添加导航链接</a><b></b></li>
                    
                    
                    
                    <li><a href="#" style ="padding-left:0px;" >请添加导航链接</a><b></b></li>
                    
                    
                    
                    <li><a href="#" style ="padding-left:0px;" >请添加导航链接</a><b></b></li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                    <li><a href="" title=""><img src="/Admin/Shop/Public/images/diy/imgad.jpg" width="100%" /></a></li>
                    
                </ul>
                <section class="members_flash_time">
                    
                </section>
            </section>
            
        </div>
    <Hi:GoodsListModule runat="server"  Type="goodGroup" Layout="1" ShowName="True" ShowIco="True" ShowPrice="True" DataUrl="/api/Hi_Ajax_GoodsListGroup.ashx" ID="group_aab4e560ab1449d1a89deacb0890a24c" TemplateFile="/Admin/shop/Modules/GoodGroup1.cshtml"  GoodListSize="6" FirstPriority=""  SecondPriority=""    />
        <div class="members_con">
            
            <section class="members_goodslist">
                <ul>
                    
                    <li class="g-box por rebox">
                        <section><a href=""><img src="/Admin/shop/Public/images/diy/goodsView1.jpg" width="88" height="88"></a></section>
                        <section class="g-flex">
                            <a href="">此处显示商品名称</a>
                            <p>&yen;32434.00</p>
                        </section>
                        <i class="icon_buy"><a href="#" title="">购买</a></i>
                    </li>
                    <li class="g-box por rebox">
                        <section><a href=""><img src="/Admin/shop/Public/images/diy/goodsView2.jpg" width="88" height="88"></a></section>
                        <section class="g-flex">
                            <a href="">此处显示商品名称</a>
                            <p>&yen;32434.00</p>
                        </section>
                        <i class="icon_buy"><a href="#" title="">购买</a></i>
                    </li>
                    <li class="g-box por rebox">
                        <section><a href=""><img src="/Admin/shop/Public/images/diy/goodsView3.jpg" width="88" height="88"></a></section>
                        <section class="g-flex">
                            <a href="">此处显示商品名称</a>
                            <p>&yen;32434.00</p>
                        </section>
                        <i class="icon_buy"><a href="#" title="">购买</a></i>
                    </li>
                    
                </ul>
            </section>
            
        </div>
    
        <div class="members_con">
            <section class="custom-line-wrap"><hr class="custom-line" style="border-color:#DDD" ></section> 
  
        </div>
    