<%@ Control Language="C#" %>
<%@ Register TagPrefix="Hi" Namespace="HiTemplate" Assembly="HiTemplate" %>
        <div class="members_con"  >
            <section class="members_nav1">
                <ul>
                    
                    
                    <li class="lisw1">
                        <span><a href="/Vshop/ShoppingCart.aspx"><img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160315/6359365292224414068953277.jpg" width="70"></a></span>
                        <a class="members_nav1_name" href="/Vshop/ShoppingCart.aspx">分类</a>
                    </li>
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix">
                    
                    
                    <li style="margin-bottom:0px">
                        <a href="/default.aspx" title="VERO">
                            
                            
                            <img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160315/6359365292429101567893013.jpg" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    
                </ul>
            </section>
            
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix">
                    
                    
                    <li style="margin-bottom:0px">
                        <a href="/default.aspx" title="VERO">
                            
                            
                            <img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160315/6359365292383789061965007.jpg" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    
                </ul>
            </section>
            
        </div>
    <Hi:GoodsListModule runat="server"  Type="goodGroup" Layout="1" ShowName="True" ShowIco="True" ShowPrice="True" DataUrl="/api/Hi_Ajax_GoodsListGroup.ashx" ID="group_b456daa01c7b4c88a1a6a64fcaddfd91" TemplateFile="/Admin/shop/Modules/GoodGroup1.cshtml"  GoodListSize="6" FirstPriority=""  SecondPriority=""    />
        <div class="members_con">
            <section class="custom-line-wrap"><hr class="solid-line" style="border-color:#dddff0" ></section> 
  
        </div>
    
        <div class="members_con">
            <section class="custom-space" style="height:100px;"></section>
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="" title="砸金蛋赢大奖">
                                    
                                    
                                    <img src="http://demo.xkd.kuaidiantong.cn/Storage/template/20160315/6359363517577539063165623.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                </section>
            </section>
            
        </div>
    