<%@ Control Language="C#" %>
<%@ Register TagPrefix="Hi" Namespace="HiTemplate" Assembly="HiTemplate" %>
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="/Vshop/OneyuanList.aspx" title="一元夺宝">
                                    
                                    
                                    <img src="/Templates/vshop/t9/images/3@2x.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/default.aspx" title="VERO">
                                    
                                    
                                    <img src="/Templates/vshop/t9/images/3@2x.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/default.aspx" title="VERO">
                                    
                                    
                                    <img src="/Templates/vshop/t9/images/3@2x.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="" title=" vger">
                                    
                                    <img src="/Admin/Shop/Public/images/diy/imgad.jpg" width="100%" />
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                    
                    <span class="cur" ></span>
                    
                    <span  ></span>
                    
                    <span  ></span>
                    
                    <span  ></span>
                    
                    
                </section>
            </section>
            
        </div>
    
        <div class="members_con"  >
            <section class="members_nav1">
                <ul>
                    
                    
                    <li class="lisw2">
                        <span><a href="/default.aspx"><img src="/Templates/vshop/t9/images/4@2x.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/default.aspx"></a>
                    </li>
                    
                    <li class="lisw2">
                        <span><a href="/default.aspx"><img src="/Templates/vshop/t9/images/5@2x.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/default.aspx"></a>
                    </li>
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con"  >
            <section class="members_nav1">
                <ul>
                    
                    
                    <li class="lisw1">
                        <span><a href="/default.aspx"><img src="/Templates/vshop/t9/images/6@2x.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/default.aspx"></a>
                    </li>
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_search">
                  <form action="/ProductList.aspx" method="get">
                <input type="text" name="keyWord" id="keyWord" value="" placeholder="商品搜索：请输入商品关键字">
                <button type="submit"></button>
           </form>
            </section>
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix">
                    
                    
                    <li style="margin-bottom:0px">
                        <a href="/default.aspx" title="VERO">
                            
                            
                            <img src="/Templates/vshop/t9/images/7@2x.png" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    
                </ul>
            </section>
            
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix">
                    
                    
                    <li style="margin-bottom:0px">
                        <a href="/default.aspx" title="VERO">
                            
                            
                            <img src="/Templates/vshop/t9/images/8@2x.png" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    
                </ul>
            </section>
            
        </div>
    
        <div class="members_con">
            <section class="custom-line-wrap"><hr class="custom-line" style="border-color:#DDD" ></section> 
  
        </div>
    
        <div class="Header_style12_panel" style="height:44px;">
            <div class="membersbox" style="height:44px;">
                
                <div class="homeCnav" style="height:44px;line-height:44px;">
                    <div class="homeCnavbox swiper-container" style="height:44px;line-height:44px;">
                        <ul class="swiper-wrapper topnav clearfix" style="height:44px;line-height:44px;">
                            
                            <li class="swiper-slide liwid4" style="height:44px;line-height:44px;">
                                <a href="/Default.aspx" class="colblue" style="background-color:#07a0e7;height:44px;line-height:44px;margin-right:0px">
                                    <h3 style="color:#fff;height:44px;line-height:44px;">首页</h3>
                                </a>
                            </li>
                            
                            <li class="swiper-slide liwid4" style="height:44px;line-height:44px;">
                                <a href="/ProductList.aspx" class="colblue" style="background-color:#72c201;height:44px;line-height:44px;margin-right:0px">
                                    <h3 style="color:#fff;height:44px;line-height:44px;">新品</h3>
                                </a>
                            </li>
                            
                            <li class="swiper-slide liwid4" style="height:44px;line-height:44px;">
                                <a href="/Default.aspx" class="colblue" style="background-color:#ffa800;height:44px;line-height:44px;margin-right:0px">
                                    <h3 style="color:#fff;height:44px;line-height:44px;">热卖</h3>
                                </a>
                            </li>
                            
                            <li class="swiper-slide liwid4" style="height:44px;line-height:44px;">
                                <a href="/Default.aspx" class="colblue" style="background-color:#d50303;height:44px;line-height:44px;margin-right:0px">
                                    <h3 style="color:#fff;height:44px;line-height:44px;">推荐</h3>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    <Hi:GoodsListModule runat="server"  Type="goodGroup" Layout="1" ShowName="True" ShowIco="True" ShowPrice="True" DataUrl="/api/Hi_Ajax_GoodsListGroup.ashx" ID="group_a2955ef21de946fb97859cf07aaccdac" TemplateFile="/Admin/shop/Modules/GoodGroup1.cshtml"  GoodListSize="6" FirstPriority=""  SecondPriority=""    />
        <div class="members_con">
            <section class="custom-space" style="height:10px;"></section>
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul class="clearfix">
                    
                    
                    
                    <li class="board3">
                        <span>
                            <a href="/Default.aspx">
                                
                                <img src="/Admin/shop/Public/images/diy/waitupload.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3">
                        <span>
                            <a href="/Default.aspx">
                                
                                <img src="/Admin/shop/Public/images/diy/waitupload.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3">
                        <span>
                            <a href="/Vshop/OneyuanList.aspx">
                                
                                <img src="/Admin/shop/Public/images/diy/waitupload.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
       
        <div class="members_con">
            <div class="fulltext" style="padding:10px 0"></div>
        </div>
    
        <div class="members_con" >
            <section class="members_nav2">
                <ul>
                    
                    
                    
                    <li><a href="/default.aspx" style ="padding-left:0px;" >店铺主页</a><b></b></li>
                    
                    
                    
                </ul>
            </section>
        </div>
    <Hi:GoodsListModule runat="server"  Type="goodGroup" Layout="1" ShowName="True" ShowIco="True" ShowPrice="True" DataUrl="/api/Hi_Ajax_GoodsListGroup.ashx" ID="group_60ec4fbf36f847bfaa36b1cfc344ba26" TemplateFile="/Admin/shop/Modules/GoodGroup1.cshtml"  GoodListSize="6" FirstPriority=""  SecondPriority=""    />
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                    <li><a href="" title=""><img src="/Admin/Shop/Public/images/diy/imgad.jpg" width="100%" /></a></li>
                    
                </ul>
                <section class="members_flash_time">
                    
                </section>
            </section>
            
        </div>
    
        <div class="members_con">
            <section class="custom-line-wrap"><hr class="custom-line" style="border-color:#DDD" ></section> 
  
        </div>
    
        <div class="members_con">
            <section class="custom-space" style="height:10px;"></section>
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                    <li><a href="" title=""><img src="/Admin/Shop/Public/images/diy/imgad.jpg" width="100%" /></a></li>
                    
                </ul>
                <section class="members_flash_time">
                    
                </section>
            </section>
            
        </div>
    
        <div class="members_con"  >
            <section class="members_nav1">
                <ul>
                    
                    
                    <li class="lisw4">
                        <span><a href="/Default.aspx"><img src="/Admin/shop/Public/images/diy/waitupload.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/Default.aspx">店铺主页</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="#"><img src="/Admin/shop/Public/images/diy/waitupload.png" width="70"></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="#"><img src="/Admin/shop/Public/images/diy/waitupload.png" width="70"></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="#"><img src="/Admin/shop/Public/images/diy/waitupload.png" width="70"></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                </ul>
            </section>
        </div>
    
       
        <div class="members_con">
            <div class="fulltext" style="padding:10px 0"><p><a href="http://www.w3school.com.cn">手机</a>    <br/></p></div>
        </div>
    <Hi:GoodsListModule runat="server"  Type="goodGroup" Layout="1" ShowName="True" ShowIco="True" ShowPrice="True" DataUrl="/api/Hi_Ajax_GoodsListGroup.ashx" ID="group_efa7304ef4e94378ac42fae6c6d88db2" TemplateFile="/Admin/shop/Modules/GoodGroup1.cshtml"  GoodListSize="6" FirstPriority=""  SecondPriority=""    />
        <div class="members_con">
            
            <section class="members_goodspic">
                <ul>
                    
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Admin/shop/Public/images/diy/goodsView1.jpg" width="100%"></a></span>
                            <span class="replace"><i></i> &yen;88.00<span class="original_price"><s>&yen;99.00</s></span>
                        </div>
                    </li>
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Admin/shop/Public/images/diy/goodsView2.jpg" width="100%"></a>
                            <span class="replace"><i></i> &yen;88.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Admin/shop/Public/images/diy/goodsView3.jpg" width="100%"></a>
                            <span class="replace"><i></i> &yen;88.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Admin/shop/Public/images/diy/goodsView4.jpg" width="100%"></a>
                            <span class="replace"><i></i> &yen;88.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    
                </ul>
            </section>
            
        </div>
    
       
        <div class="members_con">
            <div class="fulltext" style="padding:10px 0"></div>
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul class="clearfix">
                    
                    
                    
                    <li class="board3">
                        <span>
                            <a href="#">
                                
                                <img src="/Admin/shop/Public/images/diy/waitupload.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3">
                        <span>
                            <a href="#">
                                
                                <img src="/Admin/shop/Public/images/diy/waitupload.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3">
                        <span>
                            <a href="#">
                                
                                <img src="/Admin/shop/Public/images/diy/waitupload.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con" >
            <section class="members_nav2">
                <ul>
                    
                    
                    
                    <li><a href="#" style ="padding-left:0px;" >请添加导航链接</a><b></b></li>
                    
                    
                    
                </ul>
            </section>
        </div>
    